{{!-- <tr class="table-row">
    <td class="table-first-col">{{id}}. {{burger_name}}</td>
    <td><button class="btn change-devour" style="width: 100%" data-id="{{id}}">Devour it!</button></td> 
</tr> --}}

